{% extends "pos/base.html" %}
{% load static %}


    
{% block title %}Build a Drink{% endblock %} 
{% block styles %}<link rel="stylesheet" href="{% static 'pos/drinklist.css' %}">{% endblock %}


{% block content %}
<div id="drinklist">
    {% if drink_list %}
    <ul id="drinks">
        {% for drink in drink_list %}
        <li class="allbuts"><a href="{% url 'pos:build' drink.id %}"">{{drink.drink_name}}</a></li>
        {% endfor %}
    </ul>
    
    {% else %}
    <p>No drinks are available.</p>
    {% endif %}
</div>
    {% endblock %}