#sizelist {
  display: inline-flexbox;
}

#quantlab {
  font-weight: bold;
  margin-top: 30px;
}

#extrasdiv {
  display: flex;
  justify-content: center; /* Center items vertically */
  margin: 0 auto; /* Ensure the div is centered within its parent */
  text-align: center; /* Align text to the center */
}
#subdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.indiv {
  margin-right: 38px;
  border: 1px solid aliceblue;
  padding: 0 10px 15px 10px;
  width: 19%;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .flav_lab,
input[type="checkbox"]:checked + .topp_lab {
  background-color: #f7fcb0; /* Highlight color */
  color: blue; /* Change text color */
  border-color: #ffa500; /* Change border color */
}
h3 {
  text-align: center;
}
