#drink_done {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}
li {
  list-style: none;
}
.head1 {
  text-align: center;
}
#options {
  text-align: center;
  bottom: 45px;
}
#total {
  margin-left: 20px;
}
.finaloptions {
  margin-top: -55px;
}
.finalopts {
  margin-top: -40px;
}
